@using Microsoft.AspNetCore.Identity
@inject SignInManager<Uye> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<br>
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            Ben Burak Berslan HIZLIOK. 19 yaşımdayım. İstanbul'da doğup büyüdüm. Aslen Çerkes'im. 1 senelik kreş ve 2 senelik anaokulu sürecinden sonra 5 yaşımda ilkokula başladım. Şu an Sakarya Üniversitesi'nde Bilgisayar Mühendisliği bölümünde 3.sınıf'ım. Bu sitede size doğduğum ve büyüdüm şehir olan İstanbul'u tanıtacağım.
            <br> <br> <br>
            Yenikapı’da yapılan arkeolojik kazılarda ortaya çıkan bulgular, İstanbul’un tarihinin 8 bin 500 yıl öncesine dayandığını ortaya koymuştur. Kuruluşundan itibaren İstanbul, tarihte birçok devletin egemenliği altında gelişmiş ve çeşitli kültürlerin merkezi olmuştur.
            <br> <br> <br>
            Şüphesiz, İstanbul’un tarihi ile ilgili en göze çarpan özelliği, Roma, Bizans ve Osmanlı İmparatorluğu gibi üç evrensel imparatorluğa başkentlik yapmış olmasıdır. M.S. 4. yüzyılda Roma İmparatorluğu çok genişlemiş; İstanbul, stratejik konumundan dolayı, İmparator Büyük Konstantin tarafından Roma’nın yerine yeni başkent olarak seçilmiştir. Şehir 6 yılı aşkın bir sürede yeniden düzenlenmiş, surlar genişletilmiş, tapınaklar, resmi binalar, saraylar, hamamlar ve hipodrom inşa edilmiştir.
            <br> <br> <br>
            330 yılında yapılan büyük merasimlerle İstanbul’un Roma İmparatorluğu’nun başkenti olduğu resmen açıklanmıştır. Yakın Çağ’ın başladığı dönemde İkinci Roma ve Yeni Roma adları ile anılan kent, daha sonra "Byzantion" ve geç devirlerde Konstantinopolis olarak adlandırılmıştır. Halk arasında ise kentin adı tarih boyunca "Polis" olarak anılagelmiştir.
            <br> <br> <br>
            İstanbul, 1453 yılında Fatih Sultan Mehmet tarafından fethinden sonra 1923 yılına kadar 470 sene boyunca Osmanlı İmparatorluğu’nun başkenti olmuştur. Osmanlı döneminde bilimin, kültürün ve sanatın merkezi haline gelen İstanbul; cami, sinagog ve kiliselerin yan yana yaşadığı muhteşem bir hoşgörüye kavuşmuştur.
            <br> <br> <br>
            16. yüzyıldan itibaren Osmanlı sultanlarının Halife olmaları münasebetiyle tüm İslam dünyasının merkezi haline gelen İstanbul yalnızca İslam dünyasına değil, bütün din ve kültürlere de ev sahipliği yaparak “Dünya Başkenti” olmuştur.
            <br> <br> <br>
            I. Dünya Savaşı’nın ardından 13 Kasım 1918’de İstanbul İtilaf Devletleri donanmasınca işgal edilmiştir. 6 Ekim 1923’te düşman işgalinden kurtarılan İstanbul’un başkentlik dönemi, 29 Ekim 1923’te Türkiye Cumhuriyeti’nin kurulmasıyla birlikte sona ermiştir. Türkiye Cumhuriyeti başkentinin Ankara’ya taşınması İstanbul’un önemini değiştirmemiş, yüzyıllar boyu farklı medeniyetlere ev sahipliği yapan şehir, tarihi ve kültürel önemini yitirmeden günümüze kadar gelmiştir.
        </div>
        <div class="col">
            <img src="/lib/bootstrap/dist/assets/burak.jpeg" class="img-fluid" alt="...">
        </div>
    </div>
    <br> <br> <br>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="/lib/bootstrap/dist/assets/img/saulogo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sakarya Üniversitesi</h5>
                        <p class="card-text">Sakarya Üniversitesi sitesi için tıkla</p>
                        <a href="https://sabis.sakarya.edu.tr/" class="btn btn-primary">Buraya tıkla</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Thank you for registering!</h5>
                    </div>
                </div>
            }
            else
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Register now!</h5>
                        <p class="card-text">Register now to access full content for free!</p>
                        <a href="Identity/Account/Register" class="card-link">Click to Register</a>
                        <a href="Identity/Account/Login" class="card-link">Click to Login</a>
                    </div>
                </div>
            }
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/lib/bootstrap/dist/assets/img/thumb-1920-473269.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Daha fazlası için...</h5>
                    <p class="card-text">Daha fazla bilgi için bu linki ziyaret edebilirsin.</p>
                    <a href="https://tr.wikipedia.org/wiki/%C4%B0stanbul" class="btn btn-primary">Buraya tıkla</a>
                </div>
            </div>
        </div>
    </div>
</div>
