@{
    ViewData["Title"] = "Privacy Policy";
}

<br>
<br>



<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/lib/bootstrap/dist/assets/img/ayasofya1.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            Ayasofya I. Justinianus tarafından, 532-537 yılları arasında İstanbul'un tarihî yarımadasındaki eski şehir merkezine inşa ettirilmiş bazilika planlı bir patrik katedrali olup 1453 yılında İstanbul'un Osmanlılar tarafından alınmasından sonra Fatih Sultan Mehmet tarafından camiye dönüştürülmüştür.
        </div>
        
    </div>
    <div class="row align-items-center">
        
    </div>
    <div class="row align-items-end">
        
    </div>
</div>
